body {
  padding: 20px;
  background-color: whitesmoke;
}

.Hero {
  position: relative;
  min-height: 70vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
  background-image: linear-gradient(
      rgba(38, 255, 0, 0.397),
      rgba(9, 255, 0, 0.644)
    ),
    url("https://images7.alphacoders.com/377/thumb-1920-377757.jpg");
  .Hero-overlay {
    position: absolute;
    min-height: 70vh;
    width: 100%;

    .Hero-title {
      position: relative;
      height: 70vh;
      width: 100%;

      h1 {
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 800;
      }

      span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 800;
      }
    }
  }
}

.Hero-half {
  position: relative;
  min-height: 30vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 84%);
  background-image: linear-gradient(
      rgba(38, 255, 0, 0.397),
      rgba(9, 255, 0, 0.644)
    ),
    url("https://images7.alphacoders.com/377/thumb-1920-377757.jpg");
  .Hero-overlay {
    position: absolute;
    min-height: 70vh;
    width: 100%;

    .Hero-title {
      position: relative;
      height: 70vh;
      width: 100%;

      h1 {
        color: white;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 800;
      }

      span {
        color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 800;
      }
    }
  }
}

section {
  .title {
    font-size: 2rem;
    font-weight: 800;
    color: green;
  }
}

.Members {
  .title {
    color: green;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
  }

  .member {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(
        rgba(38, 255, 0, 0.397),
        rgba(9, 255, 0, 0.644)
      ),
      url("https://images7.alphacoders.com/377/thumb-1920-377757.jpg");
    padding: 40px 20px;
    img {
      border-radius: 100%;
    }

    div {
      width: 100%;
      padding: 20px 0;
      span {
        width: 100%;
        padding-top: 20rem !important;
        font-size: 2rem;
        font-weight: 800;
        color: white;
      }
    }
  }
}

button {
  width: 100%;
  padding: 20px 40px;
  border: none !important;
  font-size: 1.3rem;

  &.forum {
    color: white;
    background-color: rgb(37, 37, 37);
  }

  &.teamspeak {
    color: white;
    background-color: rgb(41, 44, 68);
  }

  &.discord {
    color: white;
    background-color: #7289da;
  }
}

.NewMember {
  .title {
    font-size: 2rem;
    font-weight: 800;
    color: green;
    padding-bottom: 20px;
  }

  input {
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid green;
    width: 20vw;

    &:focus {
      outline: none;
    }
  }

  .submit {
    color: white;
    font-weight: 800;
    background-color: green;
  }
}

.MemberEditor {
  .title {
    font-size: 2rem;
    font-weight: 800;
    color: green;
    padding-bottom: 20px;
  }

  input {
    padding: 10px 0px;
    border: none;
    border-bottom: 2px solid green;
    width: 20vw;

    &:focus {
      outline: none;
    }
  }

  .submit {
    color: white;
    font-weight: 800;
    background-color: green;
  }
}
